<%- include('../partials/header'); %>

<main class="main main-cust-single">
    <section class="section section-cust-single">
        <figure class="figure fig-cust-single">
            <img src="http://via.placeholder.com/250x300" alt="placeholder img" class="img-fluid cust-single-img">
            <figcaption> <%= data.first_name %> <%= data.last_name %></figcaption>
            <figcaption>Email: <% data.email %></figcaption> 
        </figure>
    </section>
</main>

<%- include('../partials/footer'); %>