
   <%- include('../partials/header'); %>
    <main class="main main-home">
        <section class="section">
            <h2>Main Header</h2>
            <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse voluptatibus porro voluptate nobis, maxime voluptates accusamus sed consequuntur quam ab tempore natus illo possimus iure optio blanditiis iusto est? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eligendi unde nisi placeat voluptatem delectus?</p>

            <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, consequuntur aliquam assumenda facilis quibusdam eum suscipit dolorem eveniet velit dolorum eos a ea dolor voluptate alias impedit maxime quo? Et. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus suscipit aspernatur sunt et maxime aliquid!</p>
        </section>
    </main>
<%- include('../partials/footer'); %>
  
</body>
</html>